contracts/out/
contracts/cache/
contracts/broadcast/
zk/*/target/
.DS_Store
zk/zkverify/node_modules/
zk/zkverify/.env
zk/zkverify/aggregation.json
zk/zkverify/accepted.json
zk/zkverify/domain.json
zk/zkverify/collect.log
.env.local
.env
